doctype html
html
    include statics/header/metas
    title MainPage


p.
    Using regular tags can help keep your lines short,
    but interpolated tags may be easier to #[em visualize]
    whether the tags and text are whitespace-separated.