/*= Reset CSS = */

//Colors variables
$color-primary: #2079df;
$color-primary-light: $blue;

$color-grey: #aaa;
$color-grey-dark: #666;
$color-grey-light: #ccc;

$color-white: #ededed;
$color-dark: #333;

$color-valid: $green;
$color-invalid: $red;

$font-size-primary: 1.2rem;
$font-size-header: 2.8rem;

$font-family-a: Arial;
$font-family-b: sans-serif;

$transition-02: .2s;
$transition-03: .3s;
$transition-04: .4s;
$transition-06: .6s;

html {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 62.5%; //1 rem = 10 px
}

body {
  border: 0;
  margin: 0;
  padding: 0;
  font: 1.4rem "Lato", $font-family-a, $font-family-b;
  min-width: 100%;
  min-height: 100%;
  color: $color-grey-dark;
}

.container {
  margin: 0 auto;
  max-width: 120rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  float: left;
  width: 100%;
  padding: 2rem 0 5rem;
}

h2 {
  text-align: center;
  color: $color-primary;
  font-size: $font-size-header;
  float: left;
  width: 100%;
  margin: 3rem 0;
  position: relative;
  line-height: 5.8rem;
  font-weight: 400;

  &:before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 10rem;
    height: .2rem;
    background-color: $color-primary;
    margin-left: -5rem;
  }
}

/*= Reset CSS End
================= */

/*= input focus effects css
=========================== */

:focus {
  outline: none;
}

.col-3 {
  float: left;
  width: 27.33%;
  margin: 4rem 3%;
  position: relative;
}

/* necessary to give position: relative to parent. */

input[type="text"] {
  font: 1.5rem/2.4rem "Lato", $font-family-a, $font-family-b;
  color: $color-dark;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: .1rem;
}

%effects-border-1-2-3 {
  border: 0;
  padding: .7rem 0;
  border-bottom: .1rem solid $color-grey-light;

  ~ .focus-border {
    height: .2rem;
    position: absolute;
    bottom: 0;
  }
}

%effects-border-1-2 {
  @extend %effects-border-1-2-3;
  ~ .focus-border {
    width: 0;
    background-color: $color-primary-light;
    transition: $transition-04;
  }

  &:focus ~ .focus-border {
    width: 100%;
    transition: $transition-04;
  }
}

%effects-border-1 {
  @extend %effects-border-1-2;

  ~ .focus-border {
    left: 0;
  }
}

%effects-border-2 {
  @extend %effects-border-1-2;

  ~ .focus-border {
    left: 50%;
  }

  &:focus ~ .focus-border {
    left: 0;
  }
}

%effects-border-3 {
  @extend %effects-border-1-2-3;

  ~ .focus-border {
    left: 0;
    width: 100%;
    z-index: 99;

    &:before, &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 100%;
      background-color: $color-primary-light;
      transition: $transition-04;
    }

    &:after {
      left: auto;
      right: 0;
    }
  }

  &:focus ~ .focus-border {
    &:before, &:after {
      width: 50%;
      transition: $transition-04;
    }
  }
}

%effects-border-4-5-6 {
  padding: .5rem 0 .7rem;
  border: .1rem solid transparent;
  border-bottom-color: $color-grey-light;
  transition: $transition-04;

  &:focus {
    padding: .5rem 1.4rem .7rem;
    transition: $transition-04;
  }

  ~ .focus-border {
    position: absolute;
    bottom: 0;
    transition: $transition-04;
  }

  &:focus ~ .focus-border {
    transition: $transition-04;
    border: .2rem solid $color-primary-light;
  }
}

%effects-border-4-5 {
  ~ .focus-border {
    left: 0;
  }
}

%effects-border-4 {
  @extend %effects-border-4-5-6;
  @extend %effects-border-4-5;

  ~ .focus-border {
    height: 0;
    width: 100%;
    z-index: -1;
  }

  &:focus ~ .focus-border {
    height: 3.6rem;
    z-index: 1;
  }
}

%effects-border-5-6 {
  @extend %effects-border-4-5-6;
  ~ .focus-border {
    height: 3.6rem;
    width: 0;
  }

  &:focus ~ .focus-border {
    width: 100%;
  }
}

%effects-border-5 {
  @extend %effects-border-4-5;
  @extend %effects-border-5-6
}

%effects-border-6 {
  @extend %effects-border-5-6;
  ~ .focus-border {
    right: 0;
  }
}

%effects-border-7-8-9 {
  border: .1rem solid $color-grey-light;
  padding: .7rem 1.4rem .9rem;
  transition: $transition-04;

  ~ .focus-border {
    &:before, &:after {
      content: "";
      position: absolute;
      top: 0;
      background-color: $color-primary-light;

      height: .2rem;
      width: 0;
    }

    &:after {
      top: auto;
      bottom: 0;
    }

    i {
      &:before, &:after {
        content: "";
        position: absolute;
        left: 0;
        width: .2rem;
        background-color: $color-primary-light;
      }

      &:after {
        left: auto;
        right: 0;
      }
    }
  }

  &:focus ~ .focus-border {
    &:before, &:after {
      width: 100%;
    }

    i {
      &:before, &:after {
        height: 100%;
      }
    }
  }
}

%effects-border-7 {
  @extend %effects-border-7-8-9;

  ~ .focus-border {
    &:before, &:after {
      left: 50%;
      transition: $transition-04;
    }

    i {
      &:before, &:after {
        top: 50%;
        height: 0;
        transition: $transition-06;
      }
    }
  }

  &:focus ~ .focus-border {
    &:before, &:after {
      left: 0;
      transition: $transition-04;
    }

    i {
      &:before, &:after {
        top: 0;
        transition: $transition-06;
      }
    }
  }
}

%effects-border-8-9 {
  @extend %effects-border-7-8-9;
  ~ .focus-border {
    i {
      &:before, &:after {
        top: 0;
        width: .2rem;
      }

      &:after {
        top: auto;
        bottom: 0;
      }
    }
  }
}

%effects-border-8 {
  @extend %effects-border-8-9;

  ~ .focus-border {
    &:before, &:after {
      left: 0;
      transition: $transition-03;
    }

    &:after {
      left: auto;
      right: 0;
    }

    i {
      &:before, &:after {
        height: 0;
        transition: $transition-04;
      }
    }
  }

  &:focus ~ .focus-border {
    &:before, &:after {
      transition: $transition-03;
    }

    i {
      &:before, &:after {
        transition: $transition-04;
      }
    }
  }
}

%effects-border-9 {
  @extend %effects-border-8-9;

  ~ .focus-border {
    &:before, &:after {
      right: 0;
      transition: $transition-02;
      transition-delay: $transition-02;
    }

    &:after {
      right: auto;
      left: 0;
      transition-delay: $transition-06;
    }

    i {
      &:before, &:after {
        height: 0;
        transition: $transition-02;
      }

      &:after {
        left: auto;
        right: 0;
        transition-delay: $transition-04;
      }
    }
  }

  &:focus ~ .focus-border {
    &:before, &:after {
      transition: $transition-02;
      transition-delay: $transition-06;
    }

    &:after {
      transition-delay: $transition-02;
    }

    i {
      &:before, &:after {
        transition: $transition-02;
      }

      &:after {
        transition-delay: $transition-04;
      }
    }
  }
}

%effects-bg-10--15 {
  padding: .7rem 1.5rem;
  border: .1rem solid $color-grey-light;
  position: relative;
  background: transparent;
}

%effects-bg-10--12 {
  @extend %effects-bg-10--15;
  ~ .focus-bg {
    position: absolute;
    top: 0;
    height: 100%;
    background-color: $color-white;
  }
}

%effects-bg-10-11 {
  @extend %effects-bg-10--12;
  ~ .focus-bg {
    left: 0;
    z-index: -1;
  }
}

%effects-bg-10 {
  @extend %effects-bg-10-11;
  ~ .focus-bg {
    width: 100%;
    opacity: 0;
    transition: 0.5s;
  }

  &:focus ~ .focus-bg {
    transition: 0.5s;
    opacity: 1;
  }
}

%effects-bg-11-12 {
  ~ .focus-bg {
    width: 0;
    transition: $transition-03;
  }

  &:focus ~ .focus-bg {
    transition: $transition-03;
    width: 100%;
  }
}

%effects-bg-11 {
  @extend %effects-bg-10-11;
  @extend %effects-bg-11-12
}

%effects-bg-12 {
  @extend %effects-bg-10--12;
  @extend %effects-bg-11-12;

  ~ .focus-bg {
    left: 50%;
    z-index: -1;
  }

  &:focus ~ .focus-bg {
    left: 0;
  }
}

%effects-bg-13--15 {
  @extend %effects-bg-10--15;
  ~ .focus-bg {
    &:before, &:after {
      content: "";
      position: absolute;
      width: 0;
      background-color: $color-white;
      transition: $transition-03;
      z-index: -1;
    }
  }

  &:focus {
    ~ .focus-bg:before, ~ .focus-bg:after {
      transition: 0.3s;
      width: 50%;
    }
  }
}

%effects-bg-13-14 {
  @extend %effects-bg-13--15;
  ~ .focus-bg {
    &:before, &:after {
      top: 0;
      left: 0;
    }
  }

  ~ .focus-bg:after {
    right: 0;
    left: auto;
  }
}

%effects-bg-13 {
  @extend %effects-bg-13-14;

  ~ .focus-bg {
    &:before, &:after {
      height: 100%;
    }
  }
}

%effects-bg-14 {
  @extend %effects-bg-13-14;

  ~ .focus-bg {
    &:before, &:after {
      height: 0;
    }
  }

  &:focus {
    ~ .focus-bg:before, ~ .focus-bg:after {
      height: 100%;
    }
  }

  ~ .focus-bg:after {
    top: auto;
    bottom: 0;
  }
}

%effects-bg-15 {
  @extend %effects-bg-13--15;

  ~ .focus-bg {
    &:before, &:after {
      left: 50%;
      top: 50%;
      height: 0;
    }
  }

  &:focus, {
    ~ .focus-bg:before, ~ .focus-bg:after {
      height: 100%;
    }

    ~ .focus-bg:before {
      left: 0;
      top: 0;
    }

    ~ .focus-bg:after {
      bottom: 0;
      right: 0;
    }
  }

  ~ .focus-bg:after {
    left: auto;
    right: 50%;
    top: auto;
    bottom: 50%;
  }
}

%focus-label-16--18 {
  top: -1.6rem;
  font-size: $font-size-primary;
  color: $color-primary-light;
  transition: $transition-03;
}

%effects-label-16--18 {
  background-color: transparent;

  ~ label {
    position: absolute;
    left: 0;
    width: 100%;
    top: .9rem;
    color: $color-grey;
    transition: $transition-03;
    z-index: -1;
    letter-spacing: 0.05rem;
  }

  &:focus ~ label {
    @extend %focus-label-16--18
  }
}

%effects-16 {
  @extend %effects-border-1;
  @extend %effects-label-16--18
}

%effects-17 {
  @extend %effects-border-2;
  @extend %effects-label-16--18
}

%effects-18 {
  @extend %effects-border-3;
  @extend %effects-label-16--18
}

%focus-label-19--21 {
  top: -1.8rem;
  left: 0;
  font-size: $font-size-primary;
  //color: $color-primary-light;
  transition: $transition-03;
}

%effects-label-19--21 {
  background: transparent;

  ~ label {
    position: absolute;
    left: 1.4rem;
    width: 100%;
    top: 1rem;
    color: $color-grey;
    transition: $transition-03;
    z-index: -1;
    letter-spacing: 0.05rem;
  }

  &:focus ~ label {
    @extend %focus-label-19--21
  }
}

%effects-19 {
  @extend %effects-border-7;
  @extend %effects-label-19--21
}

%effects-20 {
  @extend %effects-border-8;
  @extend %effects-label-19--21
}

%effects-21 {
  @extend %effects-border-9;
  @extend %effects-label-19--21
}

%focus-label-22--24 {
  top: -1.8rem;
  left: 0;
  font-size: $font-size-primary;
  color: $color-dark;
  transition: $transition-03;
}

%effects-label-22--24 {
  background: transparent;

  ~ label {
    position: absolute;
    left: 1.4rem;
    width: 100%;
    top: 1rem;
    color: $color-grey;
    transition: $transition-03;
    z-index: -1;
    letter-spacing: 0.05rem;
  }

  &:focus ~ label {
    @extend %focus-label-22--24
  }
}

%effects-22 {
  @extend %effects-bg-13;
  @extend %effects-label-22--24
}

%effects-23 {
  @extend %effects-bg-14;
  @extend %effects-label-22--24
}

%effects-24 {
  @extend %effects-bg-15;
  @extend %effects-label-22--24
}


.effect-1 {
  @extend %effects-border-1
}

.effect-2 {
  @extend %effects-border-2
}

.effect-3 {
  @extend %effects-border-3
}

.effect-4 {
  @extend %effects-border-4
}

.effect-5 {
  @extend %effects-border-5
}

.effect-6 {
  @extend %effects-border-6
}


.effect-7 {
  @extend %effects-border-7
}

.effect-8 {
  @extend %effects-border-8
}

.effect-9 {
  @extend %effects-border-9
}

.effect-10 {
  @extend %effects-bg-10
}

.effect-11 {
  @extend %effects-bg-11
}

.effect-12 {
  @extend %effects-bg-12
}

.effect-13 {
  @extend %effects-bg-13
}

.effect-14 {
  @extend %effects-bg-14;
}

.effect-15 {
  @extend %effects-bg-15
}

.effect-16 {
  @extend %effects-16
}

.has-content.effect-16 ~ .focus-border {
  width: 100%;
  transition: $transition-04;
}

.has-content.effect-16 ~ label {
  @extend %focus-label-16--18
}

.effect-17 {
  @extend %effects-17
}

.has-content.effect-17 ~ .focus-border {
  width: 100%;
  transition: $transition-04;
  left: 0;
}

.has-content.effect-17 ~ label {
  @extend %focus-label-16--18
}

.effect-18 {
  @extend %effects-18
}

.has-content.effect-18 ~ .focus-border {
  &:before, &:after {
    width: 50%;
    transition: $transition-04;
  }
}

.has-content.effect-18 ~ label {
  @extend %focus-label-16--18
}

.effect-19 {
  @extend %effects-19
}

.has-content.effect-19 ~ .focus-border {
  &:before, &:after {
    left: 0;
    width: 100%;
    transition: $transition-04;
  }
}

.has-content.effect-19 ~ .focus-border i {
  &:before, &:after {
    top: 0;
    height: 100%;
    transition: $transition-06;
  }
}

.has-content.effect-19 ~ label {
  @extend %focus-label-19--21
}

.effect-20 {
  @extend %effects-20
}

.has-content.effect-20 ~ .focus-border {
  &:before, &:after {
    width: 100%;
    transition: $transition-03;
  }
}

.has-content.effect-20 ~ .focus-border i {
  &:before, &:after {
    height: 100%;
    transition: $transition-04;
  }
}

.has-content.effect-20 ~ label {
  @extend %focus-label-19--21
}

.effect-21 {
  @extend %effects-21
}

.has-content.effect-21 ~ .focus-border {
  &:before, &:after {
    width: 100%;
    transition: $transition-02;
    transition-delay: $transition-06;
  }

  &:after {
    transition-delay: $transition-02;
  }
}

.has-content.effect-21 ~ .focus-border i {
  &:before, &:after {
    height: 100%;
    transition: $transition-02;
  }

  &:after {
    transition-delay: $transition-04;
  }
}

.has-content.effect-21 ~ label {
  @extend %focus-label-19--21
}

.effect-22 {
  @extend %effects-22
}

.has-content.effect-22 ~ .focus-bg {
  &:before, &:after {
    transition: $transition-04;
    width: 100%;
    background-color: $color-white;
  }
}

.has-content.effect-22 ~ label {
  @extend %focus-label-22--24
}

.effect-23 {
  @extend %effects-23
}

.has-content.effect-23 ~ .focus-bg {
  &:before, &:after {
    transition: $transition-03;
    width: 50%;
    height: 100%;
  }
}

.has-content.effect-23 ~ label {
  @extend %focus-label-22--24
}

.effect-24 {
  @extend %effects-24
}

.has-content.effect-24 ~ .focus-bg {
  &:before, &:after {
    transition: $transition-03;
    width: 50%;
    height: 100%;
  }

  &:before {
    left: 0;
    top: 0;
  }

  &:after {
    bottom: 0;
    right: 0;
  }
}

.has-content.effect-24 ~ label {
  @extend %focus-label-22--24
}

/*= input focus effects css End
=============================== */


.rounded {
  border-radius: 5px;
}

;

.valid ~ .focus-border {
    &:before, &:after {
      background-color: $color-valid;
    }

}

.valid ~ .focus-border i {
  &:before, &:after {
    background-color: $color-valid;
  }
}


.invalid ~ .focus-border {
  &:before, &:after {
    background-color: $color-invalid;
  }
}

.invalid ~ .focus-border i {
  &:before, &:after {
    background-color: $color-invalid;
  }
}

.notifications{
  position: absolute;
  display: -webkit-box;
  width: 100%;
  max-width: 100%;
  max-height: 32px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 0.2em 0 0.2em;
  color:$color-white;
  background: rgba($color-invalid, .65);

}